@import '../../styles/color';

.header {
  display: flex;
  font-size: 15px;
  color: white;
  font-family: sans-serif;
  width: 100%;
  background-color: $bgPrimary;
  display: flex;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    img {
      width: 65px;
      margin: 10px 5px;
    }
    .logo-name {
      font-size: 20px;
    }
  }
  .header-function {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    .user-action,
    .header-navbar {
      display: flex;
      margin-bottom: 0;
    }
    .header-navbar {
      margin-left: 40px;
    }
    .user-action {
      margin-right: 40px;
    }
    .more,
    .sidebar-close {
      display: none;
    }
  }

  .user-action-sidebar {
    display: none;
    box-sizing: border-box;
  }

  // CSS chung cho header
  li {
    list-style: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    &:hover {
      background-color: white;
      color: black;
    }
    &:hover .link {
      color: black;
    }
  }

  .link {
    display: block;
    text-decoration: none;
    color: white;
    height: 100%;
    cursor: pointer;
  }
}

// responsive

@media screen and (max-width: 640px) {
  .header {
    font-size: 12px;
    width: 100%;
    .logo {
      img {
        width: 45px;
        margin: 10px 0 10px 15px;
      }
      .logo-name {
        display: none;
      }
    }
    li {
      padding: 10px 13px;
    }
    .header-function {
      margin-left: 5px;

      .header-navbar {
        margin-left: 0;
      }
      .user-action {
        display: none;
      }

      .more {
        display: flex;
        font-size: 18px;
        margin-right: 20px;
      }
      // side bar
      .user-action-sidebar {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        left: 0;
        right: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(158, 31, 181);
        transition: ease 1000ms;
        display: block;
        li {
          padding: 20px 10px;
          border-radius: 0;
          .logout-icon {
            display: inline-block;
            margin: 0px 0 0 5px;
          }
        }
        .header-welcome {
          margin-top: 40px;
        }

        .sidebar-close {
          display: block;
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 20px;
          cursor: pointer;
        }
      }
      .user-action-sidebar.show {
        transform: translateX(0);
      }
      .user-action-sidebar.hide {
        transform: translateX(110%);
      }
    }
  }
}

@media screen and (min-width: 641px) and (max-width: 1004px) {
  .header {
    font-size: 14px;
    .logo {
      img {
        width: 50px;
        margin: 10px 0 10px 15px;
      }
      .logo-name {
        display: block;
        margin-left: 10px;
        font-size: 18px;
      }
    }
    .header-function {
      margin-left: 5px;

      .header-navbar {
        margin-left: 100px;
      }
      .user-action {
        display: none;
      }

      .more {
        display: flex;
        font-size: 19px;
        margin-right: 20px;
      }
      // side bar
      .user-action-sidebar {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 230px;
        background-color: rgb(158, 31, 181);
        transition: ease 1000ms;
        display: block;
        box-shadow: -5px 5px 5px rgba($color: #000000, $alpha: 0.15);
        li {
          padding: 12px 10px;
          border-radius: 0;
          .logout-icon {
            display: inline-block;
            margin: 0px 0 0 5px;
          }
        }
        .header-welcome {
          margin-top: 40px;
        }

        .sidebar-close {
          display: block;
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 20px;
          cursor: pointer;
        }
      }
      .user-action-sidebar.show {
        transform: translateX(0);
      }
      .user-action-sidebar.hide {
        transform: translateX(110%);
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 100vh;
    font-size: 20px;
  }
}
