@import '../../styles/color';

.worksheet {
    margin-top: 57px;
    padding: 32px;
    
    fieldset{
        border: 1px solid #000;
    }
    legend{
        width: fit-content;
    }

    .worksheet-filter-form {
        padding: 4px 16px 0px 16px
    }

    .worksheet-filter-wrap{
        display: flex;
        justify-content: space-between;
    }
    .worksheet-filter-left{
        display: flex;
        align-items: center;
    }

    .worksheet-filter-left-by-day{
        display: flex;
        align-items: baseline;
    }

    .worksheet-filter-right {
        label {
            margin-right: 12px;
        }
    }

    .worksheet-per-page {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        h3{
            margin: 0;
        }

        label{
            margin-right: 16px;
        }
    }

    .worksheet-filter-button {
        text-align: center;
    }

    // Table
    .worksheet-table {
        .ant-table-cell {
            text-align: center;

        }
    }

    .worksheet-pagination {
        display: flex;
        margin-top: 24px;
       .worksheet-pagination-wrap {
            display: flex;
            margin: auto;
            align-items: center;
            .ant-pagination-options {
                display: none;
            }
            .ant-pagination-item-active {
                border-color: $bgPrimary;
                 a {
                     color: $bgPrimary;
             }
            }
            .ant-pagination-item {
                &:hover {
                  border-color: $bgPrimary;
                  a {
                    color: $bgPrimary;
                  }
                }
              }
            //   ?????
            li[title='Previous Page'] {
                &:hover {
                    border-color: $bgPrimary;
                    a{
                        color: #000;
                    }
                }
            }
            .ant-pagination {
                .ant-pagination-jump-prev ,.ant-pagination-jump-next{
                    &:hover .ant-pagination-item-link {
                        display: block;
                    }
                }
            }
        }
        // .ant-pagination-item-link {
        //     display: inline-block;
        // }
    }
    
    .modal_late_early {
  max-width: 860px;
  color: $textPrimary;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px;
}

.ant-modal-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-bottom: 15px;
}

}

.even {
    background-color: #f0f0f0;
}
.flex {
    display: flex;
    align-items: center;
    span {
        text-decoration: underline;
        color: blue;
        cursor: pointer;
    }
}

.color-red-late {
    .ant-table-cell:nth-child(5) {
        color: red;
    }
}
.color-red-early {
    .ant-table-cell:nth-child(6) {
        color: red;
    }
}

.mr-12 {
    margin-right: 12px;
}

.ml-12 {
    margin-left: 12px;
}

