@import '../../styles/color';

.modal_ot {
  max-width: 860px;
  color: $textPrimary;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.ant-modal-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-bottom: 15px;
}

.btn-register {
  justify-content: center;
  margin-top: 30px;
  .ant-btn-default {
    margin-right: 16px;
  }
}

// @media (min-width: 575px) {
//   .btn-register {
//     // margin-right: 5px;
//     // display: block;
//     width: 80px;
//   }
// }
