@import '../../styles/color';

.modal_ot {
  max-width: 860px;
  color: $textPrimary;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.ant-modal-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-bottom: 15px;
}
