// background color
$bgPrimary: rgba(115, 103, 240, 1);
$bgSecondary: rgba(130, 134, 138, 1);
$bgSuccess: rgba(44, 199, 112, 1);
$bgDanger: rgba(234, 84, 85, 1);
$bgWarning: rgba(255, 158, 68, 1);
$bgInfo: rgba(13, 207, 231, 1);
$bgLogin: rgba(248, 248, 248, 1);
$bgTableYellow: rgba(255, 245, 102, 1);

// blur color
$blurPrimary: rgba(115, 103, 240, 0.5);
$blurPrimaryInput: rgba(115, 103, 240, 0.2);
$blurSecondary: rgba(130, 134, 138, 0.5);
$blurSuccess: rgba(44, 199, 112, 0.5);
$blurDanger: rgba(234, 84, 85, 0.5);
$blurWarning: rgba(255, 158, 68, 0.5);
$blurInfo: rgba(13, 207, 231, 0.5);

// text color
$textPrimary: rgba(0, 0, 0, 1);
$textSecondary: rgba(110, 107, 123, 1);
