@import 'reset';
@import 'color';

@font-face {
  font-family: Montserrat;
  src: url(./FontMontserrat/Montserrat-Medium.otf);
}
// đè class ant design
::selection {
  background-color: $bgPrimary;
}
.ant-picker-focused {
  box-shadow: 0 0 0 1px rgba($color: $bgPrimary, $alpha: 0.5);
}
.ant-input:hover {
  border-color: $bgPrimary;
}
.ant-input:focus {
  box-shadow: 0 0 0 1px rgba($color: $bgPrimary, $alpha: 0.5);
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: $bgPrimary;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $bgPrimary;
  border-color: $bgPrimary !important;
}
body {
  font-family: 'Montserrat';

  .ant-btn {
    border-radius: 4px;
  }

  //Button
  .primary-button {
    background-color: $bgPrimary;
    color: #fff;
    &:hover {
      background-color: $bgPrimary;
      color: #fff;
      border-color: $bgPrimary;
      box-shadow: 0 8px 25px -8px $bgPrimary;
    }
    &:focus {
      background-color: $bgPrimary;
      color: #fff;
      border-color: $bgPrimary;
    }
    &:active {
      background-color: $bgPrimary;
      color: #fff;
      border-color: $bgPrimary;
    }
  }

  .outline-primary-button {
    border-color: $bgPrimary;
    color: $bgPrimary;
    &:hover {
      border-color: $bgPrimary;
      color: $bgPrimary;
    }
    &:focus {
      border-color: $bgPrimary;
      color: $bgPrimary;
    }
    &:active {
      border-color: $bgPrimary;
      color: $bgPrimary;
    }
  }

  .outline-secondary-button {
    &:hover {
      border-color: $bgPrimary;
      color: $bgPrimary;
    }
    &:focus {
      border-color: $bgPrimary;
      color: $bgPrimary;
    }
    &:active {
      border-color: $bgPrimary;
      color: $bgPrimary;
    }
  }

  // date datePicker
  .ant-picker-focused {
    border-color: $bgPrimary;
    box-shadow: 0 0 0 2px $blurPrimaryInput;
  }

  //Input
  .input-primary {
    &:hover {
      border-color: $bgPrimary;
      span {
        color: $bgPrimary;
      }
    }
    &:focus {
      border-color: $bgPrimary;
      box-shadow: 0 0 0 2px $blurPrimaryInput;
      border-right-width: 1px;
      outline: 0;
      span {
        color: $bgPrimary;
      }
    }
  }

  .ant-input {
    &:focus {
      border-color: $bgPrimary;
      box-shadow: 0 0 0 2px $blurPrimaryInput;
      border-right-width: 1px;
      outline: 0;
    }
  }

  .ant-input-affix-wrapper-focused,
  .ant-input-affix-wrapper:focus {
    border-color: $bgPrimary;
    box-shadow: 0 0 0 2px $blurPrimaryInput;
    border-right-width: 1px;
    outline: 0;
    span {
      color: $bgPrimary;
    }
  }

  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: $bgPrimary;
  }

  //Select

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    &:hover {
      border-color: $bgPrimary;
    }
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    border-color: $bgPrimary;
    box-shadow: 0 0 0 2px $blurPrimaryInput;
  }

  //Picker
  .ant-picker {
    &:hover {
      border-color: $bgPrimary;
    }
  }
  //Message
  .warning-message {
    color: $bgWarning !important;
  }
}
