@import 'reset';
@import 'color';

@font-face {
  font-family: Montserrat;
  src: url(./FontMontserrat/Montserrat-Medium.otf);
}
// đè class ant design
::selection {
  background-color: $bgPrimary;
}
.ant-picker-focused {
  box-shadow: 0 0 0 1px rgba($color: $bgPrimary, $alpha: 0.5);
}
.ant-input:hover {
  border-color: $bgPrimary;
}
.ant-input:focus {
  box-shadow: 0 0 0 1px rgba($color: $bgPrimary, $alpha: 0.5);
}
// Checkbox
.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: $bgPrimary;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $bgPrimary;
  border-color: $bgPrimary !important;
}
.ant-checkbox-checked:after {
  border: 1px solid $bgPrimary;
}
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: $bgPrimary;
}

.ant-checkbox:hover .ant-checkbox-inner {
  border-color: $bgPrimary;
}
// Modal confirm

.modal-confirm {
  .ant-btn-default {
    background-color: $bgPrimary;
    color: #fff;
    border-color: $bgPrimary;
    &:hover {
      background-color: $bgPrimary;
      color: #fff;
      border-color: $bgPrimary;
      box-shadow: 0 8px 25px -8px $bgPrimary;
    }
    &:focus {
      background-color: $bgPrimary;
      color: #fff;
      border-color: $bgPrimary;
    }
    &:active {
      background-color: $bgPrimary;
      color: #fff;
      border-color: $bgPrimary;
    }
  }
  .ant-btn-primary {
    border-color: $bgPrimary;
    color: $bgPrimary;
    background-color: #fff;
    &:hover {
      border-color: $bgPrimary;
      color: $bgPrimary;
    }
    &:focus {
      border-color: $bgPrimary;
      color: $bgPrimary;
    }
    &:active {
      border-color: $bgPrimary;
      color: $bgPrimary;
    }
  }
}
.ant-picker-footer {
  .ant-btn-primary {
    background-color: $bgPrimary;
    color: #fff;
    border-color: $bgPrimary;
    &:hover {
      background-color: $bgPrimary !important;
      color: #fff;
      border-color: $bgPrimary;
      box-shadow: 0 8px 25px -8px $bgPrimary;
    }
    &:focus {
      background-color: $bgPrimary;
      color: #fff;
      border-color: $bgPrimary;
    }
    &:active {
      background-color: $bgPrimary;
      color: #fff;
      border-color: $bgPrimary;
    }
  }
}
body {
  font-family: 'Montserrat';

  //Button
  .ant-btn {
    border-radius: 4px;
  }
  .ant-picker-now-btn {
    color: $bgPrimary;
  }

  .primary-button {
    background-color: $bgPrimary;
    color: #fff;
    border-color: $bgPrimary;
    &:hover {
      background-color: $bgPrimary !important;
      color: #fff;
      border-color: $bgPrimary;
      box-shadow: 0 8px 25px -8px $bgPrimary;
    }
    &:focus {
      background-color: $bgPrimary;
      color: #fff;
      border-color: $bgPrimary;
    }
    &:active {
      background-color: $bgPrimary;
      color: #fff;
      border-color: $bgPrimary;
    }
  }

  .outline-primary-button {
    border-color: $bgPrimary;
    color: $bgPrimary;
    &:hover {
      border-color: $bgPrimary;
      color: $bgPrimary;
    }
    &:focus {
      border-color: $bgPrimary;
      color: $bgPrimary;
    }
    &:active {
      border-color: $bgPrimary;
      color: $bgPrimary;
    }
  }

  .outline-secondary-button {
    &:hover {
      border-color: $bgPrimary;
      color: $bgPrimary;
    }
    &:focus {
      border-color: $bgPrimary;
      color: $bgPrimary;
    }
    &:active {
      border-color: $bgPrimary;
      color: $bgPrimary;
    }
  }

  // date datePicker
  .ant-picker-focused {
    border-color: $bgPrimary;
    box-shadow: 0 0 0 2px $blurPrimaryInput;
  }

  //Input
  .input-primary {
    &:hover {
      border-color: $bgPrimary;
      span {
        color: $bgPrimary;
      }
    }
    &:focus {
      border-color: $bgPrimary;
      box-shadow: 0 0 0 2px $blurPrimaryInput;
      border-right-width: 1px;
      outline: 0;
      span {
        color: $bgPrimary;
      }
    }
  }

  .ant-input {
    &:focus {
      border-color: $bgPrimary;
      box-shadow: 0 0 0 2px $blurPrimaryInput;
      border-right-width: 1px;
      outline: 0;
    }
  }

  .ant-input-affix-wrapper-focused,
  .ant-input-affix-wrapper:focus {
    border-color: $bgPrimary;
    box-shadow: 0 0 0 2px $blurPrimaryInput;
    border-right-width: 1px;
    outline: 0;
    span {
      color: $bgPrimary;
    }
  }

  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: $bgPrimary;
  }

  //Select

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    &:hover {
      border-color: $bgPrimary;
    }
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    border-color: $bgPrimary;
    box-shadow: 0 0 0 2px $blurPrimaryInput;
  }

  //Picker
  .ant-picker {
    &:hover {
      border-color: $bgPrimary;
    }
  }
  //Message
  .warning-message {
    color: $bgWarning !important;
  }
}

// Radio Button
.ant-radio-checked .ant-radio-inner {
  border-color: $bgPrimary !important ;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: $bgPrimary;
}

.ant-radio:hover .ant-radio-inner {
  border-color: $bgPrimary;
}

.ant-form input[type='radio']:focus {
  // outline: thin dotted;
  outline: 5px auto $blurPrimary;
  outline-offset: -2px;
}
.ant-radio-input:focus + .ant-radio-inner {
  box-shadow: none;
  border-color: $bgPrimary;
}
.custom-pagination {
  margin-bottom: 0;
  .ant-pagination-item-active {
    border-color: $bgPrimary;
    a {
      color: $bgPrimary;
    }
  }
  .ant-pagination-item {
    margin-right: 0;
    &:hover {
      border-color: $bgPrimary;
      a {
        color: $bgPrimary;
      }
    }
  }
  .ant-pagination-prev {
    margin-right: 0;
    &:hover {
      button {
        border-color: #ccc;
        a {
          color: black;
        }
      }
    }
  }
  .ant-btn {
    &:hover {
      border-color: $bgPrimary;
      color: $bgPrimary;
    }
    &:active {
      border-color: $bgPrimary;
      color: $bgPrimary;
    }
    &:focus {
      border-color: $bgPrimary;
      color: $bgPrimary;
    }
  }
  .ant-pagination-next {
    &:hover {
      button {
        border-color: #ccc;
        a {
          color: black;
        }
      }
    }
  }
  .ant-pagination-jump-next {
    &:hover {
      .ant-pagination-item-link-icon {
        color: $bgPrimary;
      }
    }
  }
  .ant-pagination-jump-prev {
    &:hover {
      .ant-pagination-item-link-icon {
        color: $bgPrimary;
      }
    }
  }
  .ant-pagination-options {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    &::before {
      content: 'Items per page';
      display: flex;
      align-items: center;
      margin-right: 8px;
    }
  }
  .ant-pagination-total-text {
    flex: 1;
  }
}
