@import '../../../../styles/color';

.modal-leave {
  .ant-picker-footer {
    .ant-btn-primary {
      background-color: $bgPrimary;
      color: #fff;
      border-color: $bgPrimary;
      &:hover {
        background-color: $bgPrimary !important;
        color: #fff;
        border-color: $bgPrimary;
        box-shadow: 0 8px 25px -8px $bgPrimary;
      }
      &:focus {
        background-color: $bgPrimary;
        color: #fff;
        border-color: $bgPrimary;
      }
      &:active {
        background-color: $bgPrimary;
        color: #fff;
        border-color: $bgPrimary;
      }
    }
  }
  .hightLightRed {
    color: red;
  }
  .container {
    .button-group {
      margin-top: 16px;
      .primary-button {
        margin-bottom: 0;
      }
    }
    margin: 0 6px;

    .d-flex {
      display: flex;
    }

    .flex-1 {
      flex: 1;
    }

    .w-140 {
      width: 140px;
    }

    .mr-20 {
      margin-right: 20px;
    }

    .col-order-2 {
      width: 140px;
    }

    .range-item_container {
      margin: 0;
      .ant-form-item {
        margin: 0;
      }
    }
  }

  .check_time {
    display: flex;
    // width: 50%;
  }

  .late_time,
  .early_time {
    display: flex;
    // width: 50%;

    .time {
      color: $bgDanger;
    }
  }

  .paid_unpaid_container {
    .ant-form-item {
      margin: 0;
    }
  }

  .align-center {
    align-items: center;
  }

  .range-time {
    width: 56px;
    padding: 4px;
    margin: 0;

    .ant-form-item {
      margin: 0;
    }
  }

  .reason {
    display: flex;
  }

  .m-0 {
    margin: 0;
  }

  @media (min-width: 992px) {
    .modal_leave {
      .col-order-2 {
        width: 80px;
      }
    }
  }

  @media (max-width: 767px) {
    .reason {
      display: block;
    }

    .ant-modal-body {
      padding: 12px 24px 24px;
    }
  }

  @media (min-width: 576px) {
    .overtime_time-request {
      display: flex;

      .overtime {
        border-right: 2px solid #000;
        padding-right: 8px;
        margin-right: 8px;
      }
    }
  }

  @media (max-width: 575px) {
    .overtime_time-request {
      display: block;

      .overtime {
        border-right: none;
      }
    }
  }
}
