@import '../../../../styles/color';

.container {
  margin: 0 6px;

  .item {
    margin-bottom: 10px;
  }

  .d-flex {
    display: flex;
  }

  .flex-1 {
    flex: 1;
  }

  .w-140 {
    width: 140px;
  }

  .mr-20 {
    margin-right: 20px;
  }

  .col-order-2 {
    width: 140px;
  }

  .range-item_container {
    .ant-form-item {
      margin: 0;
    }
  }
}

.check_time {
  display: flex;
  width: 50%;
}

.late_time,
.early_time {
  display: flex;
  width: 50%;

  .time {
    color: $bgDanger;
  }
}

.paid_unpaid_container {
  .ant-form-item {
    margin: 0;
  }
}

.align-center {
  align-items: center;
}

.range-time {
  width: 56px;
  padding: 4px;
  margin: 0;

  .ant-form-item {
    margin: 0;
  }
}

.reason {
  display: flex;
}

@media (min-width: 992px) {
  .modal_leave {
    .col-order-2 {
      width: 80px;
    }
  }
}

@media (max-width: 767px) {
  .reason {
    display: block;
  }

  .ant-modal-body {
    padding: 12px 24px 24px;
  }
}

@media (min-width: 576px) {
  .overtime_time-request {
    display: flex;

    .overtime {
      border-right: 2px solid #000;
      padding-right: 8px;
      margin-right: 8px;
    }
  }
}

@media (max-width: 575px) {
  .overtime_time-request {
    display: block;

    .overtime {
      border-right: none;
    }
  }
}
