@import "../../../../styles/color";

.register-forget-form {
  .ant-input {
    margin: 0;
    padding: 0;
  }
  .button {
    display: flex;
    justify-content: center;
    border: none;

    button {
      display: block;
    }
    .primary-button.hide {
      display: none;
    }

    button.cancel {
      margin-left: 20px;
    }
  }
  .enableFocus {
    box-shadow: none !important;
  }

  .checkin-oringinal {
    position: absolute;
    right: 450px;
    top: 140px;
  }
  .checkout-original {
    position: absolute;
    right: 450px;
    top: 197px;
  }
}

@media screen and (max-width: 640px) {
  .ant-modal {
    width: 80% !important;
  }
}
@media screen and (min-width: 641px) and (max-width: 940px) {
  .ant-modal {
    width: 80% !important;
  }
  .checkin-oringinal {
    position: absolute;
    right: 300px !important;
    top: 140px;
  }
  .checkout-original {
    position: absolute;
    right: 300px !important;
    top: 197px;
  }
}
