@import '../../../styles/color';

.formChangePass {
  width: 100%;
  .input-primary {
    &:hover {
      border-color: $bgPrimary;
      span {
        color: $bgPrimary;
      }
    }
  }
  .ant-input-affix-wrapper-focused,
  .ant-input-affix-wrapper:focus {
    border-color: $bgPrimary;
    box-shadow: 0 0 0 2px $blurPrimaryInput;
    border-right-width: 1px;
    outline: 0;
    span {
      color: $bgPrimary;
    }
  }
}
