@import "../../../styles/color";
.register-forget-footer {
  text-align: center;
  button {
    margin-right: 20px;
    min-width: 80px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    transition: ease 500ms;
    &:hover {
      transform: scale(1.1);
    }
  }
  button.register-button {
    background-color: $bgPrimary;
  }
  button.cancel-button {
    background-color: rgb(214, 214, 214);
  }
}

.register-forget-checkboxs {
  display: flex;
  flex-wrap: wrap;
}
