@import "../../../styles/color";

.register-forget-form {
  .ant-input {
    margin: 0;
    padding: 0;
  }
  .button {
    text-align: center;
    border: none;
    button {
      background-color: $bgPrimary;
    }
  }
  .enableFocus {
    box-shadow: none !important;
  }
}

@media screen and (max-width: 640px) {
  .ant-modal {
    width: 80% !important;
  }
}
