@import '../../../styles/color';

.notice-detail-modal {
  //Scroll
  /* width */
  top: 30;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 4px;
  padding: 0;

  .ant-row {
    justify-content: center;
  }

  // &::-webkit-scrollbar {
  //   width: 8px;
  // }

  // /* Track */
  // &::-webkit-scrollbar-track {
  //   box-shadow: inset 0 0 5px $bgPrimary;
  //   border-radius: 10px;
  // }

  // /* Handle */
  // &::-webkit-scrollbar-thumb {
  //   background: $bgPrimary;
  //   border-radius: 10px;
  // }
}
